@import "./colors.scss";
.active-chat-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: $bg;
  position: relative;
}
.active-chat-content {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 20px;
  background-color: $bg-dark;
  padding-bottom: 100px;
  margin-left: 57px;
  transition: margin-left 0.3s ease;
}

.sidebar-expanded .active-chat-content {
  margin-left: 250px; /* Match the expanded sidebar width */
}
.active-chatbox-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.active-chat-box {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
