@import "./colors.scss";

.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2000;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  max-width: 400px;
  padding: 0;
  gap: 10px;
  pointer-events: none;
  
  .toast-notification {
    pointer-events: auto;
    width: auto;
  }
}
