// PALLETE
$illusion: #f2adca;
$wewak: #ef9fc3;
$kobi: #f0b4d0;
$dairy-cream: #fae6c2;
$soft-peach: #faf5f5;
//


$bg: $soft-peach;
$bg-light: #f8f8f8;
$bg-dark: #f8f8f8;
// $bg-darker: ;


$text-primary: #000000;
$border-color: #e0e0e0;
$text-dark: #333333;
$text-light: #ffffff;
$text-muted: #666666;
$border-light: rgba(0, 0, 0, 0.1);
$shadow: rgba(0, 0, 0, 0.05);
$hover-bg: rgba(0, 0, 0, 0.02);
