@import './colors.scss';

.chat-sidebar {
    width: 50px;
    background-color: $bg;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-right: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: width 0.3s ease;
    overflow: hidden;

    &.collapsed {
        width: 60px;
        align-items: center;
    }

    &.expanded {
        width: 250px;
    }
}

.sidebar-icon {
    margin: 0;
    padding: 10px;
    border: none;
    color: $illusion;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.icon-text {
    margin-left: 10px;
    font-size: 14px;
    color: $text-dark;
    white-space: nowrap;
}

.sidebar-icon:hover {
    border: none;
    background-color: darken($bg, 3%);
    transform: scale(1.05);
    color: lighten($illusion, 15%);
}

.sidebar-top {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 7px;
}

.sidebar-bottom {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

.menu {
    margin-bottom: 10px;
    animation: fadeIn 0.5s ease-in-out;
}

.history {
    padding: 15px 10px;
    width: 100%;

    h3 {
        font-size: 16px;
        color: $text-dark;
        margin-bottom: 10px;
    }

    .history-item {
        padding: 8px;
        margin-bottom: 5px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background-color: darken($bg, 5%);
        }
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}